<div id="Upload" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
  <label>
    <input #uploader type="file" ngFileSelect accept=".xls, .xlsx, .csv, .tsv, .xml" [options]="options" [uploadInput]="uploadInput"
      (uploadOutput)="onUploadOutput($event)" multiple>
    upload
  </label>
</div>

<button (click)="uploadAll()">upload all</button>
<button (click)="removeAll()">remove all</button>
<div *ngFor="let file of files">
  {{file.name}}
  <button (click)="upload(file)">upload</button>
  <button (click)="remove(file)">remove</button>
</div>